* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

main {
    width: 1000px;
    margin: 0 auto;
}

.box_img {
    position: relative;
    display: none;
    height: 600px;
}

.box_img.active {
    display: block;
}


.box_description {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    color: white;
    text-align: end;
}

#box_button {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#box_button a {
    font-size: 30px;
    z-index: 1;
}


.ms_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnails{
    width: 100%;
    height: 100px;
    position: absolute;
    text-align: center;
}

.ms_imgThumb {
    width: calc(100% / 5);
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.ms_imgThumb.active_thumb {
    opacity: 1;
}

